<% if @subs.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@subs.errors.count, "error") %>
      prohibited this subscription from being saved:
    </h2>
 
    <ul>
    <% @subs.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @subs, :html => {:class => 'subscription'} do |f| %>
	<%= f.hidden_field :subscriber_id, :value => current_user.id %>
	<%= f.label :level, "Monthly Plan" %><br><br>
	<%= f.collection_select(:level, Subscription.first(3), :level_with_descript, :level) %><br>
  <br> <%= f.submit "Subscribe", :class => 'btn btn-secondary btn-sm active' %>
<% end %>


