<h2> Subscribe to BitBox </h2>

<% if @subs.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@subs.errors.count, "error") %>
      prohibited this subscription from being saved:
    </h2>
 
    <ul>
    <% @subs.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @subs do |f| %>
	<%= f.hidden_field :subscriber_id, :value => current_user.id %>
	<%= f.label :level, "Monthly Plan" %><br><br>
	<%= f.collection_select(:level, Subscription.first(3), :level_with_descript, :level) %><br>
  <br> <%= f.submit "Subscribe" %>
<% end %>

<script type="text/javascript" charset="utf-8">

 $(function () {
   $('form').submit(function(event) {

     //prevent form from submitting the default way
     event.preventDefault();

     var values = $(this).serialize();

     var posting = $.post("/subscriptions", values);

     posting.done(function(data) {
      var post = data;
      var string = "<h3> BitBox: </h3></br>" + "<strong>Monthly Plan</strong><br>" + "<br>" + post.level + "</br>"
      $('.monthly-plan').html(string)

     });
   });
 });

</script>


