<h2> Subscribe to BitBox </h2>

<% if @subs.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@subs.errors.count, "error") %>
      prohibited this subscription from being saved:
    </h2>
 
    <ul>
    <% @subs.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for @subs do |f| %>
	<%= f.hidden_field :subscriber_id, :value => current_user.id %>
	<%= f.label :level, "Monthly Plan" %><br><br>
	<% @levels = ["$10/month", "$30/month", "$100/month"] %>
	<%= f.collection_select(:level, @levels ,:to_s, :to_s) %><br><br>

	<%= f.fields_for :box do |box| %>
		<%= box.label :name, "Choose a Box Level" %><br><br>
		<% @names = ["Starter Box", "Advanced Box", "Super Pro Box"] %>
		<%= f.collection_select(:name, @names ,:to_s, :to_s) %><br><br>

  	<%= f.submit "Subscribe"%>
<% end %>