 <ul>
	 <% if !user_signed_in? %>
	    <center><h1><%= link_to "BitBox", root_path %> |  <%= link_to "Shop", boxes_path %> | <%= link_to "Login", new_user_session_path %> </h1></center>
	 <% else %>
	   <center><h1><%= link_to "BitBox", root_path %> | <%= link_to "Shop", boxes_path %> | <%= link_to current_user.name, user_path(current_user)%> | <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> | <%= link_to "Get Started", subscriptions_path %> | Cart </h1></center>
	    <br>
	    <br>
	 <% end %>
 </ul>